main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main > section {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5vh;
}
main > section > header {
  width: 100%;
  margin-bottom: 2vh;
}
main > section > header > h2 {
  margin-left: 8vw;
}
main > section > header > hr {
  width: 100%;
  border-bottom: solid 0.1rem;
  margin-top: 1vh;
}
main > section > article {
  width: 95%;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  gap: 2vh;
}
section > article > div {
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  display: flex;
  align-items: center;
}
article > div > img {
  max-width: 10rem;
  max-height: 10rem;
  object-fit: cover;
  margin: 1rem 0.5rem 1rem 1rem;
  border-radius: 10rem;
}
article > div > div {
  width: 90%;
  margin: 0 0.5rem;
}
article > div > div > p {
  color: rgba(255, 255, 255);
  padding: 0.3rem 0;
  word-break: break-word;
}
/* Responsive */
@media (min-width: 1024px) {
  main > section {
    max-width: 80%;
  }
  main > section > header > h2 {
    margin-left: 4vw;
  }
  main > section > header > hr {
    margin-top: 2vh;
  }
  main > section > article {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
